<div *ngIf="playerStepperService.activeStep === 0" id="general">
  <app-general [player]="player"></app-general>
</div>

<div *ngIf="playerStepperService.activeStep === 1" id="role">
  <app-role [player]="player"></app-role>
</div>

<div *ngIf="playerStepperService.activeStep === 2" id="stats">
  <app-stats [player]="player"></app-stats>
</div>

<div *ngIf="playerStepperService.activeStep === 3" id="skills">
  <app-skills [player]="player"></app-skills>
</div>

<div *ngIf="playerStepperService.activeStep === 4" id="weaponArmor">
  <app-weapon-armor [player]="player"></app-weapon-armor>
</div>


<button *ngIf="playerStepperService.activeStep !== 0" (click)="playerStepperService.previous()">Back</button>
<button *ngIf="playerStepperService.activeStep < playerStepperService.steps.length - 1" (click)="playerStepperService.next()">Next</button>



