<div *ngIf="player">
  <label for="culturalOrigins">What is your cultural origin?</label>
  <input id="culturalOrigins" [(ngModel)]="player.lifepath.culturalOrigins">

  <label for="personality">What are you like?</label>
  <input id="personality" [(ngModel)]="player.lifepath.personality">

  <label for="clothingStyle">What is your clothing style?</label>
  <input id="clothingStyle" [(ngModel)]="player.lifepath.clothingStyle">

  <label for="hairstyle">What is your hairstyle?</label>
  <input id="hairstyle" [(ngModel)]="player.lifepath.hairstyle">

  <label for="valueMost">What do you value the most?</label>
  <input id="valueMost" [(ngModel)]="player.lifepath.valueMost">

  <label for="feelingAboutPeople">How do you feel about most people?</label>
  <input id="feelingAboutPeople" [(ngModel)]="player.lifepath.feelingAboutPeople">

  <label for="valuedPerson">Most valued person in your life?</label>
  <input id="valuedPerson" [(ngModel)]="player.lifepath.valuedPerson">

  <label for="valuedPossession">Most valued possession you own?</label>
  <input id="valuedPossession" [(ngModel)]="player.lifepath.valuedPossession">

  <label for="familyBackground">What is your original family background?</label>
  <input id="familyBackground" [(ngModel)]="player.lifepath.familyBackground">

  <label for="childhoodEnvironment">What was your childhood environment?</label>
  <input id="childhoodEnvironment" [(ngModel)]="player.lifepath.childhoodEnvironment">

  <label for="familyCrisis">What was your family crisis?</label>
  <input id="familyCrisis" [(ngModel)]="player.lifepath.familyCrisis">

  <label for="friends">Who are your friends?</label>
  <input id="friends" [(ngModel)]="player.lifepath.friends">

  <label for="enemies">Who are your enemies?</label>
  <input id="enemies" [(ngModel)]="player.lifepath.enemies">

  <label for="affairs">Who are your love affairs?</label>
  <input id="affairs" [(ngModel)]="player.lifepath.affairs">

  <label for="lifeGoals">What is your life goal?</label>
  <input id="lifeGoals" [(ngModel)]="player.lifepath.lifeGoals">
</div>
